/*.nav {*/
/*    display: flex;*/
/*    background-image: -o-linear-gradient(284deg, #b3e5fc 10%, #942dd9 100%);*/
/*    background-image: linear-gradient(166deg, #b3e5fc 10%, #942dd9 100%);*/
/*    color: #ffffff;*/

.nav {
    display: flex;
    color: white;
    text-decoration: none;
}

.links {
    text-decoration: none;
    list-style: none;
    color: white;
}

.links:hover {
    opacity: 0.8;
    color: #61dafb;
    text-decoration: none;
}

.active {
    color: #61dafb;
}

a {
    margin: 30px;
    list-style: none;
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    border-bottom: #61dafb 4px solid;

}
